root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# C Sharp code files
[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
